{
	provinces:[
	             {
	            	 name:'北京',
	            	 citys:[
	            	          {name:'合肥'},
	            	          {name:'芜湖'},
	            	          {name:'马鞍山'}
	            	         ]
	             },
	             {
	            	 name:'上海',
	            	 citys:[
	            	          {name:'南京'},
	            	          {name:'无锡'},
	            	          {name:'苏州'}
	            	         ]
	             },
	]
} 