/******************* 全局(Global)   ********************/
body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label
{
	/* Page reset */
	margin:0px;
	padding:0px;
}

body
{
	font: 1em "Trebuchet MS", verdana, arial, sans-serif;
	font-size:13px;
	margin: auto 20px;
	text-align:middle;
	padding: 0;
	color: #696969;
	background-color:white;
}

a
{
	color:#aaaaaa;
	font-size:12px;
	text-decoration:none;
	outline:none;/*ff*/ 
	hide-focus:expression(this.hideFocus=true);/*ie*/ 
}

img { margin: 5px; }


h2 {
	margin: 0;
}
/******************* 全局(Global) End   ********************/

.datatable
{
	border-collapse:collapse;
	background-color:white;
	width:780px;
}

table#dbrestore
{
	width:460px;
}

.datatable
{
	width : 782px
}

.datatable td , .datatable th
{
	 
	 border:1px solid #aaaaaa;
	 padding:3px 6px 3px 6px;
}

.datatable thead tr
{
	background-color:#dddddd;
	text-align:center;
	/*font-weight:bold;*/
}

.datatable th
{
	padding:6px 6px 6px 6px;
	background-image:url(./images/breadcrumb_bg.png);
}

/******************* 布局(Layout)   ********************/
#container
{
	margin:3px auto;
	/*border:1px solid black;*/
	width:980px;
	position:relative;
	text-align:left;
}

#header
{
	padding:0px 0px 0px 0px;
	margin-bottom:2px;
}

#logo
{
	background-image:url(./images/logo_bg.png);
	height:28px;
	color:white;
	padding-left:60px;
	padding-top:8px;
	padding-bottom:2px;
}

#adv
{
	margin-top:3px;
	margin-bottom:5px;
	height: 123px;
	background-image:url(./images/adv1.png)
}

#content
{
	border:0px solid black;
	float:right;
	margin-left:-2px;  /***** IE6 下面不会被挤到下面****/ 
}

#content_body
{
	/*background-color:#f5f6f7;*/
	/*float:right;*/
}
	
#sidebar
{
	width:200px;
	float:left;
}

#line
{
	height:10px;
	clear:both;
	border-bottom:1px dashed #aaaaaa;
}
#footer
{
	clear:both;
	text-align:center;
	padding:3px;
}
/******************* 布局(Layout)  End   ********************/

.operatebar div.tDiv /*toolbar*/ {
	background: #fafafa url(images/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
	width:780px
}

.operatebar div.tDiv2 {
	float: left;
	clear: both;
	padding: 1px;
}

.operatebar div.fbutton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
}

.operatebar div.fbutton div {
	float: left;
	padding: 1px 3px;
}

.operatebar div.fbutton span {
	float: left;
	display: block;
	padding: 3px;
}

.operatebar div.fbutton:hover,.operatebar div.fbutton.fbOver {
	padding: 0px;
	border: 1px solid #ccc;
}

.operatebar div.fbutton:hover div,.operatebar div.fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.operatebar div.fbutton .add {
	background: url(images/add.png) no-repeat center left;
}

.operatebar div.fbutton .delete {
	background: url(images/close.png) no-repeat center left;
}

.btn
{
	border : 1px dotted #888888;
	font-size:12px;
	padding:3px 6px 3px 6px;
	background-color:#fafbfc
	
}



#breadcrumb
{
	font: 11px Arial, Helvetica, sans-serif;
	background-image:url(./images/breadcrumb_bg.png); 
	background-repeat:repeat-x;
	height:30px;
	line-height:30px;
	color:#9b9b9b;
	border:solid 1px #cacaca;
	overflow:hidden;
	margin:0px;
	padding:0px;
	width:780px;
}
#breadcrumb li 
{
	list-style-type:none;
	float:left;
	/*padding-left:10px;*/
}
#breadcrumb-home
{
	height:30px;
	display:block;
	background-image:url(./images/breadcrumb_separator.png); 
	_background-image:url(./images/breadcrumb_separator.gif);
	background-repeat:no-repeat; 
	background-position:right; 
	padding-right: 15px;
	text-decoration: none;
	border:0px;
	color:#454545;
}




/************************* 登录页面样式 ***************************/

.login_main {
	position:relative;
	overflow: hidden;
	height: 280px;
	width: 531px;
	background: url(images/loginbg.png) no-repeat left top;
	_background: url(images/loginbg_ie6.png) no-repeat left top; /*** ie6 下使用 *****/  
	margin: 100px auto;
	padding-top: 45px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 30px;
}
.login_adv {
	background-image: url(images/loginadv.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	float: left;
	height: 200px;
	width: 200px;
	overflow: hidden;
	position: relative;
}

.login_area {
	/*border:3px solid black;*/
	margin-right:68px;
	float: right;
	height: 200px;
	width: 240px;
	position: relative;
	_margin-left:16px;   /****ie6下使用******/  
}

.login_title {
	/**font-family:"黑体", Arial, "Arial Black";**/
	font-size: 24px;
	font-weight: 900;
	color: #EA5222;
	top: 10px;
	margin-top:10px;
	padding-bottom:5px;
	width:100%;
	border-bottom:1px solid #DBDBDB;
}

.login_error_prompt
{
	height:20px;
	font-family:Arial, "Arial Black";
	color:red;
	font-size:12px;
	margin-left:20px;
	margin-top: 6px;
}

.login_username {
	font-family: Arial, "Arial Black";
	margin-left:20px;
	width:100%;
	font-size:12px;
}
.login_password {
	font-family:Arial, "Arial Black";
	margin-top: 10px;
	margin-left:20px;
	width:100%;
	font-size:12px;
}

.login_button
{
	margin-top:18px;
	text-align:right;
	vertical-align:middle;
	padding-right:3px;
}

.login_button table
{
	font-size:12px;
	color:#aaaaaa;
	margin-left:58px;
	width:180px;
}
	

.login_input_text
{
	background-image: url(images/logintextbg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height:23px;
	width:163px;
	border:0px;
	padding-left:3px;
}

.login_input_submit
{
	background-image: url(images/loginbutton.png);
	_background-image: url(images/loginbutton_ie6.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	height:26px;
	width:66px;
	border:0px;
	background-color:white;
}


.login_company
{
	float:left;
	margin-top:8px;
	margin-left:100px; 
}

#login_footer
{
	text-align:center;
	padding-top:18px;
	_margin-top:-46px;
	padding-right:36px;
	border:0px solid black 
}


/**************************************************** flexigrid 表格的一些自定义项的样式 ********************************/ 
.fgrid_expand_button
{
	width:30px;
	border:1px solid #aaaaaa;
	font-size:10px;
	padding-top:1px
}

.fgrid_opebtn_container
{
	border:1px solid black;
	text-align:center;
	background-color:white;
	padding:2px 6px 2px 6px;
}

.fgrid_opebtn_container a
{
	color:black
}                     


/******************************************* 分页 *******************************************************/

.jr_pager /*toolbar*/ {
	background: url(images/wbg.gif) repeat-x 0 -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	white-space: nowrap;
	height:30px;
	width:780px; 
}

.jr_pager_indent img
{
	border:0px;
}


<!--[if lte IE 7]>
<style type="text/css">
ul li{
display:inline;
/*float:left;*/
}
</style>
<![endif]-->